<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @billable_hour.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @billable_hour.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @billable_hour.end %>
</p>

<p>
  <strong>Project:</strong>
  <%= @billable_hour.project %>
</p>

<%= link_to 'Edit', edit_billable_hour_path(@billable_hour) %> |
<%= link_to 'Back', billable_hours_path %>
