<!DOCTYPE html>
<html>
<head>
  <title>CS&amp;M <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="//use.typekit.net/wre7tol.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="navigation">
  <a class="nav-button" href="#" onClick="return false;">New</a>
  <h1>CS&amp;M</h1>
  </div>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
